---
import MainLayout from "../layouts/MainLayout.astro";
import MultiForm from "../components/Multiform.astro";
---

<MainLayout title="Få Elby i din bygning" description="Udfyld formularen og få en gratis ladeløsning fra Elby til din bygning. Nem installation, ingen abonnement og mulighed for overskudsdeling." ogtitle="Få Elby i din bygning – grøn og nem elbilopladning" ogdescription="Det tager kun 2 minutter at søge om Elby-opladning til jeres bygning. Gratis installation, deling af overskud og nem proces.">
  <div class="grid grid-cols-1 lg:grid-cols-5 w-full mt-l md:mt-0">
    <!-- Venstre billede -->
    <div class="hidden lg:block md:w-full md:h-full lg:col-span-2">
      <img src="/bestil/bestil.webp" alt="Elby væglader installeret i bygningsmur" class="w-full h-full object-cover" />
    </div>

    <!-- Højre formular-side -->
    <div class="w-full h-full flex flex-col items-center justify-center lg:col-span-3">
      <MultiForm />
    </div>
  </div>
</MainLayout>
