---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import MultiForm from "../components/Multiform.astro";
---

<MainLayout title="Få Elby i din bygning">
  <a href="/">forside</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="/boligforening">boligforening</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../inwall">Sådan virker Elby</a>
  <a href="../omelby">Om elby</a>
  <a href="../bestil">bestil</a>
  
  <!-- Venstre billede -->
  <div class="w-full lg:w-1/2">
    <img src="/images/charger.jpg" alt="Elby oplader" class="w-full h-full object-cover" />
  </div>

  <!-- Højre formular-side -->
  <div>
    <MultiForm />
  </div>
</MainLayout>
