---
import MainLayout from "../layouts/MainLayout.astro";
import MultiForm from "../components/Multiform.astro";
---

<MainLayout title="Få Elby i din bygning">
  <div class="grid grid-cols-1 lg:grid-cols-5 w-full">
    <!-- Venstre billede -->
    <div class="hidden lg:block md:w-full md:h-full lg:col-span-2">
      <img src="../bestil/bestil.webp" alt="Elby oplader" class="w-full h-full object-cover" />
    </div>

    <!-- Højre formular-side -->
    <div class="w-full h-full flex flex-col items-center justify-center lg:col-span-3">
      <MultiForm />
    </div>
  </div>
</MainLayout>
