---
import MainLayout from "../layouts/MainLayout.astro";
import MultiForm from "../components/Multiform.astro";
---

<MainLayout title="Få Elby i din bygning">
  <a href="/">forside</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="/boligforening">boligforening</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../inwall">Sådan virker Elby</a>
  <a href="../omelby">Om elby</a>
  <a href="../bestil">bestil</a>
  <div class="grid grid-cols-1 md:grid-cols-5 w-full min-h-screen">
    <!-- Venstre billede -->
    <div class="w-full h-full col-span-2">
      <img src="/bestil.webp" alt="Elby oplader" class="w-full h-full object-cover" />
    </div>

    <!-- Højre formular-side -->
    <div class="w-full h-full flex flex-col items-center justify-center col-span-3">
      <MultiForm />
    </div>
  </div>
</MainLayout>
