---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Card from "../components/ProductCard.astro";
---

<MainLayout title="væglader">
  <section class="relative bg-[url('/HeroTilBolig.webp')] bg-cover bg-center min-h-[600px] md:min-h-[700px] lg:min-h-[800px] flex items-center justify-center">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/40"></div>

    <!-- Content Wrapper -->
    <div class="relative container mx-auto flex flex-col md:px-20 lg:flex-row items-center justify-between gap-12">
      <!-- Left Side (Title + Text + Toggle Buttons) -->
      <div class="w-full lg:w-7/12 max-w-4xl">
        <h1 class="text-primary-50">Elby ladeløsning til boligforeninger</h1>
        <p class="text-body-lg text-primary-50">Hos Elby har vi løsninger, der passer til forskellige behov. <br /> Er du en boligforening eller et ejendomsselskab?</p>

        <!-- Toggle style buttons (NO function, only design) -->
        <div class="inline-flex mt-s bg-primary-50 p-1 rounded-full shadow-inner">
          <button class="px-6 py-2 rounded-full font-semibold bg-acc_yel-500 text-sec_bl-950"> Boligforeninger </button>
          <button class="px-6 py-2 rounded-full font-semibold text-sec_bl-950 hover:bg-neutral-100"> Ejendomsselskaber </button>
        </div>
      </div>

      <!-- Right Side (Card) -->
      <div class="w-full lg:w-5/12 lg:ml-auto">
        <Card
          title="Elby til boligforeningen"
          subtitle="EJER / ANDEL / ALMEN"
          image="/opladning2.webp"
          price="2,99 kr/kWh"
          buttonText="Bestil Elby til din boligforening"
          buttonLink="#"
          features={[
            { icon: '<img src="/installation.svg" class="w-12 h-12" alt="installation icon" />', text: "Installation 0 kr." },
            { icon: '<img src="/abonnement.svg" class="w-12 h-12" alt="abonnement icon" />', text: "Abonnement 0 kr." },
            { icon: '<img src="/overskueligIcon.svg" class="w-12 h-12" alt="overskudlig icon" />', text: "Overskudsdeling op til 50 %" },
          ]}
        />
      </div>
    </div>
  </section>
</MainLayout>
