---
import MainLayout from "../layouts/MainLayout.astro";
import Toggle from "../components/Toggle.astro";
import Uspsection from "../components/Uspsection.astro";
import Splitcontent from "../components/Splitcontent.astro";
import Infografik from "../components/Infografiksektion.astro";
import SplitcontentRight from "../components/SplitcontentRight.astro";
import Prefooter from "../components/Prefooter.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Elby-oplader">
  <a href="/">forside</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="/boligforening">boligforening</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../inwall">Sådan virker Elby</a>
  <a href="../omelby">Om elby</a>
  <a href="../bestil">bestil</a>

  <section x-data="{ selected: 'bolig' }" @toggle-change.window="selected = $event.detail">
    <!-- Øverste del af det fælles layout -->
    <section class="flex flex-col lg:flex-row min-h-screen bg-sec_be-500">
      <div class="flex flex-col justify-center max-w-2xl mx-auto p-2xl md:w-1/2">
        <div class="mb-4">
          <h2 x-show="selected === 'bolig'">Elby ladeløsning til boligforeninger</h2>
          <h2 x-show="selected === 'ejendom'">Elby ladeløsning til ejendomsselskaber</h2>
        </div>
        <p>Hos Elby har vi løsninger, der passer til forskellige behov.</p>
        <p>Elby Partner tilbydes til ejer-, andels- og almene boliger ud fra et andelsprincip.</p>

        <!-- Toggle -->
        <div class="my-sm">
          <p class="mb-xs">Er du en boligforening eller et ejendomsselskab?</p>
          <Toggle />
        </div>

        <!-- Indhold vist betinget af valgt tilstand (information) -->
        <template x-if="selected === 'bolig'">
<<<<<<< HEAD
          <div class="mb-xs">
            <ul>
              <li class="flex items-center gap-xs"><img src="/installation.svg" class="w-12 h-10" /><p>Installation 0 kr.</p></li>
              <li class="flex items-center gap-xs"><img src="/abonnement.svg" class="w-12 h-10" /><p>Abonnement 0 kr.</p></li>
              <li class="flex items-center gap-xs"><img src="/overskueligIcon.svg" class="w-12 h-10" /><p>Overskudsdeling op til 50%</p></li>
            </ul>
            <p class="mt-sm mb-xxs">Ladepris for brugerne</p>
            <p class="text-3xl font-bold mb-s">2,99 kr/kWh</p>
            <Link href="../bestil" variant="primary" size="standard">Bestil Elby til din boligforening</Link>
=======
          <div class="w-full lg:w-5/12 lg:ml-auto">
            
>>>>>>> elby-ck
          </div>
        </template>

        <template x-if="selected === 'ejendom'">
<<<<<<< HEAD
          <div class="mb-xs">
            <ul>
              <li class="flex items-center gap-xs"><img src="/installation.svg" class="w-12 h-10" /><p>Installation 30.000 kr.</p></li>
              <li class="flex items-center gap-xs"><img src="/abonnement.svg" class="w-12 h-10" /><p>Abonnement 0 kr.</p></li>
              <li class="flex items-center gap-xs"><img src="/overskueligIcon.svg" class="w-12 h-10" /><p>Overskudsdeling op til 60%</p></li>
            </ul>
            <p class="mt-sm mb-xxs">Ladepris for brugerne</p>
            <p class="text-3xl font-bold mb-s">2,99 kr/kWh</p>
            <Link href="../bestil" variant="tertiary" size="standard">Bestil Elby til din ejendomsselskaber</Link>
=======
          <div class="w-full lg:w-5/12 lg:ml-auto">
            
>>>>>>> elby-ck
          </div>
        </template>
      </div>
      <div class="lg:w-1/2">
        <!-- bolig image -->
        <img x-show="selected === 'bolig'" src="HeroTilBolig.webp" alt="Elby oplader bolig" class="w-full h-full object-cover" />

        <!-- ejendom image -->
        <img x-show="selected === 'ejendom'" src="HeroTilEjendom.webp" alt="Elby oplader ejendom" class="w-full h-full object-cover" />
      </div>
    </section>

    <!-- Boligforening under sektion -->
    <template x-if="selected === 'bolig'">
      <div>
        <Uspsection header="Fordele ved at vælge Elby" text1="1. Gratis lader og fri installation" text2="2. Nemt at komme i gang – vi klarer det hele" text3="3. Overskudsdeling op til 50%" img1="/gratis_lader.svg" img2="/installation.svg" img3="/overskueligIcon.svg" alt1="Installation ikon" alt2="Abonnement ikon" alt3="Overskudsdeling ikon" buttonText="Bestil Elby til din boligforening" buttonlink="../bestil" linkVariant="primary" />
        <div class="bg-sec_be-500">
          <Splitcontent
            img="/boligforening.webp"
            header="Din opgang er det nye ladefællesskab"
            text1="Med Elby lades bilerne, dér hvor beboerne bor, og byen får flere ladepunkter. Elby er baseret på andelstanken, og Elby-ladepunkter på offentlig vej kan bruges af alle byens borgere. Derfor får du som bygningsejer del i overskuddet, når jeres ladepunkter bruges. Vi kalder det ladefællesskab, og vi glæder os til at få jer med!"
            text2="Få Elby lader til jeres bygning, del jeres strøm, tjen penge på det og deltag aktivt i den grønne omstilling af persontransporten. Det vil også forbedre luftkvaliteten i byerne, gavne os alle og hjælpe fremtidens grønne el-system på vej. Vi kan gøre det sammen."
            alt="fællesskaber bygning picture"
            buttonText="Læs mere om Elbys vision"
            buttonlink="../omelby"
            linkVariant="secondary"
          />
        </div>

        <div>
          <Infografik
            img="/infografikBolig.svg"
            header="Jo mere du lader, jo mere får du tilbage."
            text1="<strong>Baseret på andelstanken</strong> </br>Elby Partner tilbydes til ejer-, andels- og almene boliger ud fra et andelsprincip. Vi sørger for alt det praktiske, samt udlægget for den fulde installation. Når omkostningen er tjent hjem, deler vi op til halvdelen af overskuddet med jer. Uanset hvor meget – eller lidt – der lades i din bygning, skal foreningen aldrig have penge op af lommen.  "
            text2="<strong>Ingen administration</strong></br>Vi tager os desuden af alt det administrative med afregning med elselskabet. Og fordi vi også leverer strømmen, skal du ikke heller ikke bøvle med afgiftsrefusion. "
            alt="boligforening infografik"
            buttonText="Få Elby på generalforsamlingen"
            buttonlink="https://www.elby.dk/guides-artikler/generalforsamling-med-elby"
            linkVariant="secondary"
          />
        </div>
        <div class="bg-sec_be-500">
          <Splitcontent img="/by.webp" header="En in-wall løsning til alle os i byen, der ikke kan sætte en ladeboks op" text1="I byen kan det være svært at installere en privat ladeboks, og derfor har vi skabt Elby – en innovativ ladeløsning tilpasset etageejendomme. Laderen installeres inden for bygningens matrikel og kan derfor bruges i de fleste bygninger. En smart kabelskinne til fortovet sikrer, at ladekablet ikke generer fodgængere eller bymiljøet. I modsætning til kantstensladere optager Elby hverken fortovs- eller parkeringsplads og gør det dermed lettere at lade elbiler – uden at ændre byens udtryk." text2="" alt="boligforening by picture" buttonText="Se hvordan Elby virker" buttonlink="#" linkVariant="primary" />
        </div>

        <div>
          <Prefooter header="Vil du vide mere om Elby?" buttonText="Læs vores FAQ for flere detaljer" buttonlink="../omelby" linkVariant="primary" />
        </div>
      </div>
    </template>

    <!-- Ejendomsselskaber under sektion -->
    <template x-if="selected === 'ejendom'">
      <div>
        <Uspsection header="Fordele ved at vælge Elby Pro" text1="1. Intet abonnement" text2="2. Nemt at komme i gang - Vi klarer tilladelser og installation" text3="3. Overskudsdeling op til 60%" img1="/abonnement.svg" img2="/installation.svg" img3="/overskueligIcon.svg" alt1="Installation ikon" alt2="Abonnement ikon" alt3="Overskudsdeling ikon" buttonText="Bestil Elby til din bygning" buttonlink="../bestil" linkVariant="tertiary" />
        <div class="bg-sec_be-500">
          <Splitcontent img="/opladning1.webp" header="Ladeløsningen, der tjener sig selv ind" text1="At have et ladepunkt i bygningen gør boligen mere attraktiv. Og med overskudsdeling får I kontante fordele, hver gang laderen bruges – uanset om I selv har elbiler eller ej." text2="Få en Elby lader til jeres bygning, del jeres strøm, tjen penge på det og deltag aktivt i den grønne omstilling af persontransporten. Det vil også forbedre luftkvaliteten i byerne, gavne os alle og hjælpe fremtidens grønne el-system på vej. Vi kan gøre det sammen." alt="vægoplader picture" buttonText="Læs mere om Elbys vision" buttonlink="../omelby" linkVariant="secondary" />
        </div>

        <div>
          <Infografik img="/infografikEjendom.svg" header="Jo mere der lades, </br>Jo større del af overskudder får i udbetalt" text1="<strong>Op til 60 % i overskudsdeling</strong> </br>Med en Elby ladeløsning i din bygning, kan dine lejere og brugere lade, hvor de bor eller arbejder. Du tjener op til 60 % af overskuddet, så dine udgifter til laderen er snart tjent hjem. Herefter bliver giver Elby laderen et fast bidrag til din bygnings indtjening." text2="<strong>Ingen administration</strong> </br>Vi tager os desuden af alt det administrative med afregning med elselskabet. Og fordi vi også leverer strømmen, skal du ikke heller ikke bøvle med afgiftsrefusion." alt="infografik til ejendom" imgBg="bg-acc_gr-500" />
        </div>
        <div class="bg-sec_be-500">
          <Splitcontent img="/ejendomby.webp" header="En skræddersyet ladeløsning til din bygning" text1="Elbys ladeløsning er et aktiv, der kan øge forrentningen på din bygning og samtidig gøre, at du bidrager til den grønne omstilling - og så tager den kun et par timer at installere." text2="Elbys ladeløsning integreres let ind i din eksisterende bygning, og optager ingen plads. På den måde kan du tilbyde dine brugere af parkeringsområdet at lade, hvor det tidligerer ikke har været muligt" alt="ejendomsselskab bygning picture" buttonText="Bestil Elby Pro" buttonlink="../bestil" linkVariant="tertiary" />
        </div>

        <div>
          <Prefooter header="Brug overskydende strøm fra </br> jeres sol-celler til at lade" buttonText="Bliv ringet op og hør mere" text="" buttonlink="../kontakt" linkVariant="tertiary" buttonlink2="../omelby" linkVariant2="textlink" linkText="Ellers se vores FAQ for flere detaljer om, hvordan Elby virker" icon="/linkarrow.svg" iconPosition="right" />
        </div>
      </div>
    </template>
  </section>
  <!-- Grafik Section prefooter -->
  <div>
    <img src="./ByGrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto" />
  </div>
</MainLayout>
