---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Toggle from "../components/Toggle.astro";
import Card from "../components/ProductCard.astro";
---

<MainLayout title="Elby-oplader">
  <section x-data="{ selected: 'bolig' }" @toggle-change.window="selected = $event.detail" class="relative bg-[url('/HeroTilBolig.webp')] bg-cover bg-center min-h-[600px] md:min-h-[700px] lg:min-h-[800px] flex items-center justify-center">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/40"></div>

    <!-- Content Wrapper -->
    <div class="relative container mx-auto flex flex-col md:px-20 lg:flex-row items-center justify-between gap-12">
      <!-- Left Side (Title + Text + Toggle Buttons) -->
      <div class="w-full lg:w-7/12 max-w-4xl">
        <h1 class="text-primary-50">Elby ladeløsning til boligforeninger</h1>
        <p class="text-body-lg text-primary-50">Hos Elby har vi løsninger, der passer til forskellige behov. <br /> Er du en boligforening eller et ejendomsselskab?</p>

        <!-- Toggle buttons -->
        <div class="mt-s">
          <Toggle />
        </div>
      </div>

      <!-- Right Side (Card) -->
      <template x-if="selected === 'bolig'">
        <div class="w-full lg:w-5/12 lg:ml-auto">
          <Card
            headerColor="bg-acc_yel-500"
            title="Elby til boligforeninger"
            buildingIcon="/boligforening-building.svg"
            subtitle="EJER / ANDEL / ALMEN"
            image="/opladning2.webp"
            price="2,99 kr/kWh"
            linkVariant="primary"
            buttonText="Bestil Elby til din boligforening"
            buttonLink="#"
            features={[
              { icon: '<img src="/installation.svg" class="w-12 h-12" alt="installation icon" />', text: 'Installation <span class="font-bold text-lg">0 kr.</span>' },
              { icon: '<img src="/abonnement.svg" class="w-12 h-12" alt="abonnement icon" />', text: 'Abonnement <span class="font-bold text-lg">0 kr.</span>' },
              { icon: '<img src="/overskueligIcon.svg" class="w-12 h-12" alt="overskudlig icon" />', text: 'Overskudsdeling <span class="font-bold text-lg">op til 50%</span>' },
            ]}
          />
        </div>
      </template>

      <template x-if="selected === 'ejendom'">
        <div class="w-full lg:w-5/12 lg:ml-auto">
          <Card
            headerColor="bg-acc_gr-500"
            title="Elby til ejendomsselskaber"
            buildingIcon="/ejendom-building.svg"
            subtitle="Erhverv / Lejeboliger"
            image="/opladning3.webp"
            price="2,99 kr/kWh"
            linkVariant="tertiary"
            buttonText="Bestil Elby til din ejendom"
            buttonLink="#"
            features={[
              { icon: '<img src="/installation.svg" class="w-12 h-12" alt="installation icon" />', text: 'Installation <span class="font-bold text-lg">30,000 kr.</span>' },

              { icon: '<img src="/abonnement.svg" class="w-12 h-12" alt="abonnement icon" />', text: 'Abonnement <span class="font-bold text-lg">0 kr.</span>' },
              { icon: '<img src="/overskueligIcon.svg" class="w-12 h-12" alt="overskudlig icon" />', text: 'Overskudsdeling <span class="font-bold text-lg">op til 60%</span>' },
            ]}
          />
        </div>
      </template>
    </div>
  </section>
</MainLayout>
