---
import Hero from "../components/Hero.astro";
import Leadflow from "../components/Leadflow.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Accordion from "../components/Accordion.astro";
import Splitcontent from "../components/Splitcontent.astro";
import Uspsection from "../components/Uspsection.astro";
import Prefooter from "../components/Prefooter.astro";
import SplitcontentRight from "../components/SplitcontentRight.astro";
---

<MainLayout title="Elby forside">
  <Hero />

  <section class="fade-in-up">
    <Uspsection header="Sådan virker Elby" text1="1. Elby installere et ladepunkt i bygningens facade" text2="2. Beborere og andre elbilister kan lade med eget kabel og Elby app" text3="3. Bygningen tjener penge og biddrager til den grønne omstilling" img1="../svg/ladepunkt.svg" img2="../svg/beboeropladning.svg" img3="../svg/fordele.svg" alt1="Elby ladepunkt" alt2="Elby App" alt3="Elby fordele" buttonText="Bestil Elby til din bygning" buttonlink="" linkVariant="secondary" />
  </section>

  <section class="flex fade-in-up flex-col-reverse md:flex-row w-full bg-sec_be-500">
    <div class="basis-full md:basis-[50%] flex items-center justify-center p-sm md:my-md">
      <div class="max-w-md">
        <h3 class="mb-sm">Hvorfor vælge Elby?</h3>
        <div class="flex flex-col gap-sm mb-md">
          <div class="flex items-center gap-2">
            <img src="../svg/install.svg" alt=" Installations ikon" class="w-16 h-16 mt-1" />
            <p class="text-body-md md:text-body-md-tablet lg:text-body-md-desktop">Gratis lader, fri installation og intet abonnement</p>
          </div>
          <div class="flex items-center gap-2">
            <img src="../svg/overskudsdeling.svg" alt="Penge ikon" class="w-16 h-16 mt-1" />
            <p class="text-body-md md:text-body-md-tablet lg:text-body-md-desktop">Få op til 50% af overskuddet til dit ejendomsselskab eller boligforening</p>
          </div>
          <div class="flex items-center gap-2">
            <img src="../svg/groenomstilling.svg" alt="Blad ikon" class="w-16 h-16 mt-1" />
            <p class="text-body-md md:text-body-md-tablet lg:text-body-md-desktop">Deltag aktivit i den grønne omstilling</p>
          </div>
        </div>
        <Link href="../omelby" variant="secondary" size="full">Bliv klogere på fordelene ved Elby</Link>
      </div>
    </div>
    <div class="basis-full md:basis-[50%]">
      <img src="../index/index_opladning.webp" class="w-full h-full object-cover" />
    </div>
  </section>

  <section class="fade-in-up">
    <Leadflow />
  </section>

  <section class="bg-sec_be-500 fade-in-up flex items-center justify-center h-[80vh] w-full px-4">
    <div class="flex flex-col items-center text-center w-full max-w-3xl space-y-6">
      <p class="lg:text-4xl font-body">
        I dag vælger <span class="font-bold">4 ud af 5</span> allerede elbil, når de køber ny bil
      </p>
      <img src="../index/index_cars.webp" alt="Elbiler" class="w-full max-w-3xl py-sm h-auto object-contain" />
      <p class="lg:text-4xl">Sæt skub i udviklingen med et Elby ladepunkt – gratis, grønt og gavnligt</p>
    </div>
  </section>



  <section class="fade-in-up bg-primary-500">
    <SplitcontentRight img="../about/par_oplader_bil.webp" header="Sammen om den grønne omstilling" text1="Den grønne omstilling har brug for at vi alle tager fat og hjælper hinanden. Bor du i en by, så kan du nu tage handling, sammen med Elby og byens andre borgere. Også selvom du ikke har en elbil." text2="Få en Elby lader til jeres bygning, del jeres strøm, tjen penge på det og deltag aktivt i den grønne omstilling af persontransporten. Det vil også forbedre luftkvaliteten i byerne, gavne os alle og hjælpe fremtidens grønne el-system på vej. Vi kan gøre det sammen." linkVariant="secondary" buttonText="Læs mere om Elbys vision" buttonLink="" />
  </section>

  <section class="fade-in-up">
    <Splitcontent img="../index/index_women.webp" header="Tilmeld dig vores nyhedsbrev" text1="Når du tilmelder dig Elbys nyhedsbrev, lover vi kun at sende dig relevante og inspirerende nyheder om Elby" buttonText="Tilmeld dig Elby Liv" buttonLink="" />
  </section>

  <section class="fade-in-up bg-sec_be-500">
    <Prefooter header="Vil du vide mere om Elby?" buttonText="Læs vores FAQ for flere detaljer" buttonlink="../omelby#5_faq_omelby" linkVariant="secondary" />
  </section>

  <div class="bg-sec_be-500">
    <img src="../svg/bygrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto pt-md md:pt-xl" />
  </div>
</MainLayout>
