---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Accordion from "../components/Accordion.astro";
import Splitcontent from "../components/Splitcontent.astro";
import Uspsection from "../components/Uspsection.astro";
import Prefooter from "../components/Prefooter.astro";
---

<MainLayout title="Titel">
  <a href="/boligforening">boligforening</a>
  <a href="../omelby">Om elby</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../bestil">bestil</a>

  <Uspsection 
  header="Så nemt kommer du i gang med Elby"
  text1="1. Få et uforpligende løsningsforslag"
  text2="2. Vi klarer tilladelser og installation"
  text3="3. Oplad med dine naboer og venner"
  img1="../by.webp"
  img2="../by.webp"
  img3="../by.webp"
  alt1=""
  alt2=""
  alt3=""
  buttonText="Bestil Elby til din boligforening"
  buttonlink=""
  linkVariant="primary"
  />

  <Splitcontent
  img="../by.webp"
  header="Sammen om den grønne omstilling"
  text1="Den grønne omstilling har brug for at vi alle tager fat og hjælper hinanden. Bor du i en by, så kan du nu tage handling, sammen med Elby og byens andre borgere. Også selvom du ikke har en elbil."
  text2="Få en Elby lader til jeres bygning, del jeres strøm, tjen penge på det og deltag aktivt i den grønne omstilling af persontransporten. Det vil også forbedre luftkvaliteten i byerne, gavne os alle og hjælpe fremtidens grønne el-system på vej. Vi kan gøre det sammen."
  linkVariant="secondary"
  buttonText="Læs mere om Elbys vision"
  buttonLink=""
  />
  
  <Prefooter
  header="Vil du vide mere om Elby?"
  linkVariant="primary"
  buttonText="Læs vores FAQ for at lære mere"
  buttonLink=""
  />
  
  
 
</MainLayout>
