---
import MainLayout from "../layouts/MainLayout.astro";
import TestimonialsSlider from "../components/TestimonialsSlider.astro";
import Splitcontent from "../components/Splitcontent.astro";
import InwallHero from"../components/InwallHero.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
   <InwallHero />

<section class="bg-primary-500 px-sm py-xl">
    <!-- Titel -->
  <h2 class="text-center pb-sm">Sådan lader du med Elby</h2>

  <!-- Steps Grid -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-sm max-w-5xl mx-auto">
    
    <!-- Step 1 -->
    <div class="flex flex-col items-center text-center">
      <div class="w-5xl h-5xl md:w-7xl md:h-7xl flex items-center justify-center">
        <img src="/væglader.svg" alt="Brug dit eget kabel" class="w-128 h-128">
      </div>
      <p class="mt-4 text-sm md:text-base">
        Brug dit eget kabel<br>(Type 2-stik)
      </p>
    </div>

    <!-- Step 2 -->
    <div class="flex flex-col items-center text-center">
        <div class="w-28 h-28 md:w-32 md:h-32 flex items-center justify-center">
        <img src="/væglader_m_stik.svg" alt="Forbind til bil" class="w-128 h-128">
      </div>
      <p class="mt-4 text-sm md:text-base">
        Forbind fra lader til din bil
      </p>
    </div>

    <!-- Step 3 -->
    <div class="flex flex-col items-center text-center">
      <div class="w-28 h-28 md:w-32 md:h-32 flex items-center justify-center">
        <img src="/fastgør_kabel.svg" alt="Fastgør kabel" class="w-128 h-128">
      </div>
      <p class="mt-4 text-sm md:text-base">
        Fastgør kablet i fortovsskinnen
      </p>
    </div>

    <!-- Step 4 -->
    <div class="flex flex-col items-center text-center">
      <div class="w-28 h-28 md:w-32 md:h-32 flex items-center justify-center">
        <img src="/Elby_app.svg" alt="Start ladning" class="w-128 h-128">
      </div>
      <p class="mt-4 text-sm md:text-base">
        Start ladning med Elby App
      </p>
    </div>
  </div>
</section>

  <section class="bg-sec_be-500">
    <Splitcontent
     img="/kort_prikker.png"
     header="Hav af ladere"
     ,
     text1="Med Elbys app i lommen behøver du ikke længere gætte dig frem til, hvor du kan lade din elbil. Du får et hurtigt overblik over hele vores netværk af ladepunkter – også dem fra vores samarbejdspartnere." 
     ,
     text2="Du kan se, om standerne er ledige, hvor de står, og hvad det koster at lade. Det hele samlet ét sted, så du slipper for besværet og hurtigt kommer videre."
     ,
     text3="Skal du bruge en lader et bestemt sted? Søg på byen, vejen eller måske en seværdighed – så finder appen det for dig. Du kan endda gemme dine foretrukne ladepunkter med et stjernemarkering, så du altid har dem lige ved hånden. Appen er lavet til virkeligheden – der hvor opladning skal være lige så naturlig og ukompliceret som at finde vej hjem."
     ,
     alt="Kort over KBH med ladepunkter"
   />
 </section>

<!--  <TestimonialsSlider/> -->

 <section class="bg-primary-500 py-16 px-4">
    <div class="max-w-6xl mx-auto text-center mb-12">
      <h2 class="">support</h2>
      <p class="">Vi glæder os til at høre fra dig!</p>
    </div>
  
    <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-3 gap-8 text-center">
      
      <!-- Email -->
      <div class="flex flex-col items-center gap-5">
        <!-- Ikon -->
        <img src="/iconoir_mail.svg" alt="mail ikon" />

  
        <!-- Button Component -->
        <Button variant="primary" size="standard" type="button" @click="next()">hej@elby.com</Button>
      </div>
  
      <!-- Telefon -->
      <div class="flex flex-col items-center gap-2">
        <!-- Ikon -->
        <img src="/mobil.svg" alt="mobil ikon" />

  
        <!-- Button Component -->
        <Button variant="primary" size="standard" type="button" @click="next()">+45 60 55 20 24</Button>
      </div>
  
      <!-- Chat -->
      <div class="flex flex-col items-center gap-5">
        <!-- Ikon -->
        <img src="/token_chat.svg" alt="besked ikon" />

  
        <!-- Button Component -->
        <Button variant="primary" size="standard" type="button" @click="next()">Chat med os</Button>
      </div>
    </div>
  </section>

<!-- Grafik Section prefooter -->
<div class="bg-primary-500"><img src="./ByGrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto" /></div>
</MainLayout>