---
import Accordion from "../components/Accordion.astro";
import InfoCard from '../components/InfoCard.astro';
import MainLayout from "../layouts/MainLayout.astro";
import TestimonialsSlider from "../components/TestimonialsSlider.astro";
import Splitcontent from "../components/Splitcontent.astro";
import SplitcontentRight from "../components/SplitcontentRight.astro";
import Uspsection from "../components/Uspsection.astro";
import Prefooter from "../components/Prefooter.astro";
import Link from "../components/Link.astro";
import InwallHero from"../components/InwallHero.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
   <InwallHero />

  <section>
    <Splitcontent
     img="/kort_prikker.png"
     header="Hav af ladere"
     ,
     text1="Med Elbys app i lommen behøver du ikke længere gætte dig frem til, hvor du kan lade din elbil. Du får et hurtigt overblik over hele vores netværk af ladepunkter – også dem fra vores samarbejdspartnere." 
     ,
     text2="Du kan se, om standerne er ledige, hvor de står, og hvad det koster at lade. Det hele samlet ét sted, så du slipper for besværet og hurtigt kommer videre."
     ,
     text3="Skal du bruge en lader et bestemt sted? Søg på byen, vejen eller måske en seværdighed – så finder appen det for dig. Du kan endda gemme dine foretrukne ladepunkter med et stjernemarkering, så du altid har dem lige ved hånden. Appen er lavet til virkeligheden – der hvor opladning skal være lige så naturlig og ukompliceret som at finde vej hjem."
     ,
     alt="Kort over KBH med ladepunkter"
   />
 </section>

 <TestimonialsSlider/>

 <section class="bg-primary-500 py-16 px-4">
    <div class="max-w-6xl mx-auto text-center mb-12">
      <h2 class="">support</h2>
      <p class="">Vi glæder os til at høre fra dig!</p>
    </div>
  
    <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-3 gap-8 text-center">
      
      <!-- Email -->
      <div class="flex flex-col items-center gap-5">
        <!-- Ikon -->
        <img src="/iconoir_mail.svg" alt="mail ikon" />

  
        <!-- Button Component -->
        <Button variant="primary" size="standard" type="button" @click="next()">hej@elby.com</Button>
      </div>
  
      <!-- Telefon -->
      <div class="flex flex-col items-center gap-2">
        <!-- Ikon -->
        <img src="/mobil.svg" alt="mobil ikon" />

  
        <!-- Button Component -->
        <Button variant="primary" size="standard" type="button" @click="next()">+45 60 55 20 24</Button>
      </div>
  
      <!-- Chat -->
      <div class="flex flex-col items-center gap-5">
        <!-- Ikon -->
        <img src="/token_chat.svg" alt="besked ikon" />

  
        <!-- Button Component -->
        <Button variant="primary" size="standard" type="button" @click="next()">Chat med os</Button>
      </div>
    </div>
  </section>

<!-- Grafik Section prefooter -->
<div class="bg-primary-500"><img src="./ByGrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto" /></div>
</MainLayout>