---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import LadestanderHero from "../components/LadestanderHero.astro";
---

<MainLayout title="Elby-ladestander">
  <a href="/">forside</a>
  <a href="/boligforening">boligforening</a>
  <a href="../omelby">Om elby</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../bestil">bestil</a>
  <LadestanderHero />
</MainLayout>
