---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Card from "../components/ProductCard.astro";
import Uspsection from "../components/Uspsection.astro";
import Splitcontent from "../components/Splitcontent.astro";
import Dropdown from "../components/Dropdown.astro";
import SplitcontentHero from "../components/SplitcontentHero.astro";

const sleeve = [
  { value: "m/installation og ansøgning", label: "Med installation og ansøgning" },
  { value: "m/installation", label: "Med installation" },
  { value: "u/installation", label: "Uden installation" },
];

const infoCards = [
  {
    match: "m/installation og ansøgning",
    price: "3.299 kr.",
    items: [
      { icon: "/SleevIcon.svg", text: "2m fortovsskinne inkl. lim" },
      { icon: "/installation.svg", text: "1-2 dages Installation" },
      { icon: "/ansogningIcon.svg", text: "Ansøgning til kommunen" }
    ]
  },
  {
    match: "m/installation",
    price: "2.799 kr.",
    items: [
      { icon: "/SleevIcon.svg", text: "2m fortovsskinne inkl. lim" },
      { icon: "/installation.svg", text: "1-2 dages Installation" },
      { icon: "/fragtIcon.svg", text: "Fri fragt" }
    ]
  },
  {
    match: "u/installation",
    price: "999 kr.",
    items: [
      { icon: "/SleevIcon.svg", text: "2m fortovsskinne inkl. lim" },
      { icon: "/Montagevejledning.svg", text: "Montagevejledning" },
      { icon: "/fragtIcon.svg", text: "Fri fragt" }
    ]
  }
];

const kommune = [
  { value: "https://www.kk.dk", label: "Københavns Kommune" },
  { value: "https://www.frederiksberg.dk", label: "Frederiksberg Kommune" },
  { value: "https://www.odense.dk", label: "Odense Kommune" },
  { value: "https://frederikshavn.dk", label: "Frederikshavn Kommune" },
  { value: "https://gentofte.dk", label: "Gentofte Kommune" },
  { value: "https://gladsaxe.dk", label: "Gladsaxe Kommune" },
  { value: "https://helsingor.dk", label: "Helsingør Kommune" },
  { value: "https://rudersdal.dk", label: "Rudersdal Kommune" },
  { value: "https://silkeborg.dk", label: "Silkeborg Kommune" },
  { value: "https://www.herning.dk", label: "Herning Kommune" },
  { value: "https://holbaek.dk", label: "Holbæk Kommune" },
  { value: "https://www.taarnby.dk", label: "Taarnby Kommune" },
];
---

<MainLayout title="Elby-sleeve">
  
 <!-- Hero Section -->
  <div id="1_sleevehero" class="bg-sec_be-500">
    <SplitcontentHero
      title="ELBY Fortovsskinne"
      text="Er fortovet i vejen for din drøm om at køre elbil? Elby har løst problemet med en fortovsskinne i et kompakt og funktionelt design."
      dropdownOptions={sleeve}
      dropdownBinding="m/installation og ansøgning"
      infoCards={infoCards}
      buttonText="Få Elby fortovskinne"
      buttonLink="../bestil"
      rightMediaType="video"
      rightMediaSrc="/fortovskinne.webm"
    />
  </div>

  <!-- USP Section -->
  <section id="2_usp_sleeve" class="bg-primary-500">
    <Uspsection
      header="Hvorfor få Elby fortovsskinne?"
      text1="1. Eliminerer snublefare - den er sikker for alle"
      text2="2. Kort installationstid på typisk mellem 1-2 dage"
      text3="3. Robust design der øger boligværdien"
      img1="/SleevIcon.svg"
      img2="/installation.svg"
      img3="/overskueligIcon.svg"
      alt1="Installation ikon"
      alt2="Abonnement ikon"
      alt3="Overskudsdeling ikon"
      buttonText="Få Elby fortovskinne"
      buttonlink="/bestil"
      linkVariant="primary"
    />
  </section>

  <!-- Produktkort Section -->
  <div id="3_abc_løsning_sleeve" class="bg-sec_be-500">
    <section class="items-start justify-between max-w-7xl mx-auto p-sm gap-8xl lg:p-14 lg:py-xl ">
      <h2 class="mb-xxxs pb-xxs">Den rigtige løsning for borgere, byer og kommuner.</h2>
      <p class="mb-10">Vælg mellem følgende:</p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Card A -->
        <Card
          headerColor="bg-acc_yel-500"
          title="Fortovsskinne"
          buildingIcon="/A.svg"
          subtitle="m / install. og ansøgning"
          image="/SleevCard.webp"
          pricetitle="Pris inkl. moms"
          price="3.299 kr"
          linkVariant="primary"
          buttonText="Få Elby fortorvskinne"
          buttonLink="/bestil"
          features={[
            {
              icon: '<img src="/SleevIcon.svg" class="w-12 h-12" alt="icon" />',
              text: "2m fortovsskinne inkl. lim"
            },
            {
              icon: '<img src="/installation.svg" class="w-12 h-12" alt="icon" />',
              text: "1-2 dages Installation"
            },
            {
              icon: '<img src="/ansogningIcon.svg" class="w-12 h-12" alt="icon" />',
              text: "Ansøgning til kommunen"
            },
          ]}
        />

        <!-- Card B -->
        <Card
          headerColor="bg-acc_yel-500"
          title="Fortovsskinne"
          buildingIcon="/B.svg"
          subtitle="m / install."
          image="/SleevCardB.webp"
          pricetitle="Pris inkl. moms"
          price="2.799 kr"
          linkVariant="secondary"
          buttonText="Få Elby fortorvskinne"
          buttonLink="/bestil"
          features={[
            {
              icon: '<img src="/SleevIcon.svg" class="w-12 h-12" alt="icon" />',
              text: "2m fortovsskinne inkl. lim"
            },
            {
              icon: '<img src="/installation.svg" class="w-12 h-12" alt="icon" />',
              text: "1-2 dages Installation"
            },
            {
              icon: '<img src="/fragtIcon.svg" class="w-12 h-12" alt="icon" />',
              text: "Fri fragt"
            },
          ]}
        />

        <!-- Card C -->
        <Card
          headerColor="bg-acc_yel-500"
          title="Fortovsskinne"
          buildingIcon="/C.svg"
          subtitle="u / install."
          image="/SleevCardC.webp"
          pricetitle="Pris inkl. moms"
          price="999 kr"
          linkVariant="secondary"
          buttonText="Få Elby fortorvskinne"
          buttonLink="/bestil"
          features={[
            {
              icon: '<img src="/SleevIcon.svg" class="w-12 h-12" alt="icon" />',
              text: "2m fortovsskinne inkl. lim"
            },
            {
              icon: '<img src="/Montagevejledning.svg" class="w-12 h-12" alt="icon" />',
              text: "Montagevejledning"
            },
            {
              icon: '<img src="/fragtIcon.svg" class="w-12 h-12" alt="icon" />',
              text: "Fri fragt"
            },
          ]}
        />
      </div>
    </section>
  </div>

  <!-- Branding Section -->
  <section id="4_branding_sleeve" class="bg-primary-500">
    <Splitcontent
      img="/fortovskinne2.webp"
      header="Skabt til byen"
      text1="Elbys skinne er testet med cykler, rulleskøjter, løbehjul, kørestole, små børn, hunde, sko og høje hæle."
      text2="Skinnen er så lille at når skinnen er tom, kan man dårligt mærke den, når man går eller kører over den. Det eneste der kan gå i skinnen er stilethæle. Bredden på skinnens synlige rille er nemlig blot omtrent den samme som afstanden mellem almindelige brosten på gaden."
      text3="Når ladekablet ligger i skinnen, føles den som en naturlig del af fortovet."
      alt="Elby væglader i murstensvæg"
      buttonText="Læs mere om Elbys vision"
      buttonlink="/omelby"
      linkVariant="secondary"
    />
  </section>

  <!-- Kommune Section -->
  <div id="5_kommune_sleeve" class="bg-sec_be-500">
    <section class="grid grid-cols-1 md:grid-cols-2">
      <!-- Tekstdel -->
      <div class="w-full md:px-2xl md:py-l">
        <h3 class="mb-xxxs pb-xxs lg:px-12">Kommuner der tillader fortovsskinner</h3>
        <p class="mb-6 lg:px-12">
          Alle installationer og alt arbejde på offentlige fortove kræver kommunal tilladelse.
        </p>

        <div class="mb-m relative lg:px-12">
          <Dropdown options={kommune} placeholder="Vælg kommune..." linkOnSelect={true} />
        </div>

        <div class="mb-m lg:px-12">
          <h4 class="pb-xxs">Få flere kommuner skrevet på</h4>
          <p>
            Skriv til din kommune og fortæl om dit behov for en fortovsskinne – det kommer både dig
            selv og dine naboer til gode, at der er styr på ladekablet.
          </p>
          <!-- <p>Kontaktinformationen finder du typisk på kommunens hjemmeside.</p> -->
          <a
            href="https://cdn.prod.website-files.com/664744ed799478884900e1b3/67f4d8fc8deffd49b104ab57_Elby_Fortovsskinne%20Myndighedsark%20DK.pdf"
            class="text-acc_gr-700 mt-2 inline-block hover:underline"
          >
            Download materiale til myndighedsansøgning →
          </a>
        </div>

        <div class="mb-m lg:px-12">
          <h4 class="pb-xxs">Har du brug for hjælp?</h4>
          <p>
            Vi har stor erfaring med dialogen med kommunerne, og vi hjælper dig gerne med
            ansøgningen.
          </p>
        </div>

        <div class="lg:px-12">
          <Link href="/kontakt" variant="primary" size="full">Kontakt os</Link>
        </div>
      </div>

      <!-- Kortdel -->
      <div class="hidden md:block w-full h-full bg-neu_dg-200 relative p-sm">
        <img src="/danmarkskort.svg" alt="Danmarkskort med kommuner" class="w-full h-auto lg:p-l lg:pr-3xl my-auto" />
      </div>
    </section>
  </div>

  <!-- Prefooter grafik -->
  <div id="6_bygrafik_sleeve" class="bg-sec_be-500 pt-xl">
    <img src="./ByGrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto" />
    </div>
</MainLayout>
