---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Toggle from "../components/Toggle.astro";
import Card from "../components/ProductCard.astro";
import SleeveHero from "../components/SleeveHero.astro";
import Uspsection from "../components/Uspsection.astro";
import Infografik from "../components/Splitcontent.astro";
import Splitcontent from "../components/Splitcontent.astro";
import SplitcontentRight from "../components/SplitcontentRight.astro";
import Dropdown from "../components/Dropdown.astro";

const myOptions = [
  { value: "m/installation og ansøgning", label: "Med installation og ansøgning" },
  { value: "m/installation", label: "Med installation" },
  { value: "u/installation", label: "Uden installation" },
  ];

  const kommune = [
  { value: "Københavns Kommune", label: "Københavns Kommune" },
  { value: "Frederiksberg Kommune", label: "Odense Kommune" },
  { value: "Odense Kommune", label: "Odense Kommune" },
  { value: "Frederikshavn Kommune", label: "Frederikshavn Kommune" },
  { value: "Gentofte Kommune", label: "Gentofte Kommune" },
  { value: "Gladsaxe Kommune", label: "Gladsaxe Kommune" },
  { value: "Helsingør Kommune", label: "Helsingør Kommune" },
  { value: "Rudersdal Kommune", label: "Rudersdal Kommune" },
  { value: "Silkeborg Kommune", label: "Silkeborg Kommune" },
  { value: "Herning Kommune", label: "Herning Kommune" },
  { value: "Holbæk Kommune", label: "Holbæk Kommune" },
  { value: "Taarnby Kommune", label: "Taarnby Kommune" },
];
 
---

<MainLayout title="Elby-sleeve">

  <a href="/">forside</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="/boligforening">boligforening</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../inwall">Sådan virker Elby</a>
  <a href="../omelby">Om elby</a>
  <a href="../bestil">bestil</a>

  <SleeveHero />

  <section class="bg-sec_be-500">
    <Uspsection header="Så nemt kommer du i gang med Elby" text1="1. Få et uforpligtende løsningsforslag" text2="2. Vi klarer tilladelser og installation" text3="3. Oplad med dine naboer og venner" img1="/installation.svg" img2="/installation.svg" img3="/overskueligIcon.svg" alt1="Installation ikon" alt2="Abonnement ikon" alt3="Overskudsdeling ikon" buttonText="Bestil Elby til din boligforening" buttonlink="/" linkVariant="primary" />
  </section>

  <section>
    <Splitcontent
      img="/opladning2.webp"
      header="Skabt til byen"
      ,
      text1="Elbys skinne er testet med cykler, rulleskøjter, løbehjul, kørestole, små børn, hunde, sko og høje hæle."
      ,
      text2="Skinnen er så lille at når skinnen er tom, kan man dårligt mærke den, når man går eller kører over den. Det eneste der kan gå i skinnen er stilethæle. Bredden på skinnens synlige rille er nemlig blot omtrent den samme som afstanden mellem almindelige brosten på gaden."
      ,
      text3="Når ladekablet ligger i skinnen, føles den som en naturlig del af fortovet."
      ,
      alt="Elby væglader i murstensvæg"
      ,
      buttonText="Læs mere om Elbys vision"
      ,
      buttonlink="#"
      ,
      linkVariant="secondary"
    />

    <div class="bg-sec_be-500">
      <Infografik
        img="/infografikBolig.svg"
        header="Jo mere du lader, jo mere får du tilbage."
        ,
        text1="<strong>Baseret på andelstanken</strong> </br> Elby Partner tilbydes til ejer-, andels- og almene boliger ud fra et andelsprincip. Vi sørger for alt det praktiske, samt udlægget for den fulde installation. Når omkostningen er tjent hjem, deler vi op til halvdelen af overskuddet med jer. Uanset hvor meget – eller lidt – der lades i din bygning, skal foreningen aldrig have penge op af lommen.  "
        ,
        text2="<strong>Ingen administration</strong> </br> Få Elby lader til jeres bygning, del jeres strøm, tjen penge på det og deltag aktivt i den grønne omstilling af persontransporten. Det vil også forbedre luftkvaliteten i byerne, gavne os alle og hjælpe fremtidens grønne el-system på vej. Vi kan gøre det sammen."
        ,
        alt="boligforening infografik"
        ,
        buttonText="Få Elby på generalforsamlingen"
        ,
        buttonlink="https://www.elby.dk/guides-artikler/generalforsamling-med-elby"
        ,
        linkVariant="secondary"
      />
    </div>
  </section>

<section>
  <template x-if="selected === 'm/installation og ansøgning'">
    <Card
      headerColor="bg-acc_yel-500"
      title="Fortorvsskinne"
      buildingIcon="/sleevA.svg"
      subtitle="m / installation og ansøgning"
      image="/SleevCard.webp"
      pricetitle="Pris inkl. moms"
      price="3.299 kr"
      linkVariant="primary"
      buttonText="Bestil Elby fortorvskinne"
      buttonLink="#"
      features={[
        { icon: '<img src="/SleevIcon.svg" class="w-12 h-12" alt="icon" />', text: "2m fortovsskinne inkl. lim" },
        { icon: '<img src="/installation.svg" class="w-12 h-12" alt="icon" />', text: "1-2 dages Installation" },
        { icon: '<img src="/ansogningIcon.svg" class="w-12 h-12" alt="icon" />', text: "Ansøgning til kommunen" },
      ]}
    />
  </template>

  <template x-if="selected === 'm/installation'">
    <Card
      headerColor="bg-acc_yel-500"
      title="Fortorvsskinne"
      buildingIcon="/sleevB.svg"
      subtitle="m / installation"
      image="/SleevCardB.webp"
      pricetitle="Pris inkl. moms"
      price="2.799 kr"
      linkVariant="primary"
      buttonText="Bestil Elby fortovskinne"
      buttonLink="#"
      features={[
        { icon: '<img src="/SleevIcon.svg" class="w-12 h-12" alt="icon" />', text: "2m fortovsskinne inkl. lim" },
        { icon: '<img src="/installation.svg" class="w-12 h-12" alt="icon" />', text: "1-2 dages Installation" },
        { icon: "", text: "" },
      ]}
    />
  </template>

  <template x-if="selected === 'u/installation'">
    <Card
      headerColor="bg-acc_yel-500"
      title="Fortorvsskinne"
      buildingIcon="/sleevC.svg"
      subtitle="u / installation"
      image="/SleevCardC.webp"
      pricetitle="Pris inkl. moms"
      price="999 kr"
      linkVariant="primary"
      buttonText="Bestil Elby fortorvskinne"
      buttonLink="#"
      features={[
        { icon: '<img src="/SleevIcon.svg" class="w-12 h-12" alt="icon" />', text: "2m fortovsskinne inkl. lim" },
        { icon: '<img src="/Montagevejledning.svg" class="w-12 h-12" alt="icon" />', text: "Montagevejledning" },
        { icon: '<img src="/fragtIcon.svg" class="w-12 h-12" alt="icon" />', text: "Fri fragt" },
      ]}
    />
  </template>
</section>

  <section class="flex flex-col md:flex-row items-start justify-between max-w-7xl mx-auto p-4xl lg:p-xxs lg:py-8xl gap-8xl">
    <!-- Tekstdel -->
    <div class="w-full md:w-1/2">
      <h2 class="text-2xl md:text-3xl mb-xxxs">Kommuner der tillader fortovsskinner</h2>
      <p class="mb-6">Alle installationer og alt arbejde på offentlige fortove kræver kommunal tilladelse.</p>

      <div class="mb-6 relative">
        <Dropdown options={kommune} placeholder="Find din kommune..." />
      </div>

      <div class="mb-m">
        <h4 class="pb-xxs">Få flere kommuner skrevet på</h4>
        <p class="">
          Skriv til din kommune og fortæl om dit behov for en fortovsskinne – det kommer både dig selv og dine naboer til gode, at der er styr på ladekablet.
        </p>
        <p class="">
          Kontaktinformationen finder du typisk på kommunens hjemmeside.
        </p>
        <a href="#" class="text-acc_gr-700 mt-2 inline-block hover:underline">
          Download materiale til myndighedsansøgning →
        </a>
      </div>

      <div class="mb-m">
        <h4 class="pb-xxs">Har du brug for hjælp?</h4>
        <p class="">
          Vi har stor erfaring med dialogen med kommunerne, og vi hjælper dig gerne med ansøgningen.</p>
      </div>
    
      <div>
       <!-- Link -->
      <Link href="#" variant="primary" size="standard">Kontakt os</Link>
      </div>
    </div>

    <!-- Kortdel (skjult på mobil) -->
    <div class="w-full md:w-1/2 hidden md:block">
      <img src="/danmarkskort.svg" alt="Danmarkskort med kommuner" class="w-full h-auto" />
    </div>
  </section>


  <!-- Grafik Section prefooter -->
  <div class="bg-primary-500">
    <img src="./ByGrafik.svg" alt="Kbh skyline grafik" class="w-full h-auto" />
    </div>
</MainLayout>
