---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Toggle from "../components/Toggle.astro";
import Card from "../components/ProductCard.astro";
import SleeveHero from "../components/SleeveHero.astro";
---

<MainLayout title="Elby-sleeve">
  <a href="/">forside</a>
  <a href="/boligforening">boligforening</a>
  <a href="../omelby">Om elby</a>
  <a href="../sleeve">Elby sleeve</a>
  <a href="../ladestander">Elby ladestander</a>
  <a href="../bestil">bestil</a>
  <SleeveHero />
</MainLayout>
