---
import Link from "../components/Link.astro";
---

<section class="bg-sec_be-500">
  <div class="relative max-w-screen-xl mx-auto flex flex-col-reverse lg:flex-row items-center gap-8 px-4 sm:px-6 md:px-12 lg:pl-14 lg:py-2xl py-8">

    <!-- Venstre kolonne -->
    <div class="lg:w-1/2">
    <div class="w-full lg:max-w-[444px] ">
      <div class="space-y-6">
        <h2 class="">Sådan virker elby</h2>
        <p class="">Hos Elby har vi løsningen, der passer til forskellige behov. Er du en boligforening eller et ejendomsselskab? </p>


          <div class="pt-4">
            <Link href="../bestil" variant="primary" size="full">
              Få Elby til din etageejendom
            </Link>
          </div>
      </div>
    </div>
    </div>
 

    <!-- Højre kolonne: Video -->
    <div class="w-full lg:w-1/2">
      <div class="w-full aspect-video max-h-[400px] overflow-hidden">
        <video class="w-full h-full object-cover" autoplay muted loop playsinline>
          <source src="/fortovskinne.webm" type="video/webm" />
        </video>
      </div>
    </div>

  </div>
</section>

