---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "textlink", size = "standard" } = Astro.props;

const linkStyling = "";

const variantClasses = {
  textlink: "",
  primary: "",
  secondary: "",
};

const sizeClasses = {
  standard: "text-base",
  large: "",
  medium: "",
  small: "",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
