---
const { img, title, source, name, role } = Astro.props;
---
<div class="flex flex-col justify-between p-xxs rounded-xl bg-primary-50 shadow-md min-w-[400px] h-full">
   
    <p class="text-4xl italic mb-xxs p-md">"{title}"</p>
  <div class="mt-auto p-s pb-">
    {source && <p class="font-bold text-sm">{source}</p>}
    {(name || role) && (
      <p class="text-sm mt-1">
        {name}{role && `, ${role}`}
      </p>
    )}
  </div>
</div>