---
const { img, alt, text
} = Astro.props;
---


<div class="flex flex-col items-center text-center p-xs rounded-md w-full max-w-sm mx-auto">
  <!-- Ikon -->
  <img src={img} alt={alt} class="w-16 h-16 md:w-32 md:h-32 mb-xs" />

  <!-- Tekst -->
  <p class="text-lg">{text}</p>
</div>