---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const websiteSchema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Elby",
  url: "https://elbyprojekt4.netlify.app",
};
const { title, description, ogtitle, ogdescription, schemamarkup, preloadImage = "" } = Astro.props;
---

<html lang="da">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <!-- Fonts preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- Consider local hosting of fonts if possible -->
     <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />

  <!-- AlpineJS (versioned) -->
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js" defer></script>

  <title>{Astro.props.title || "Default Title"}</title>
  <meta name="description" content={Astro.props.description || "Default description"} />
  <meta property="og:locale" content="da_DK" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={Astro.props.ogtitle || "Default OG Title"} />
  <meta property="og:description" content={Astro.props.ogdescription || "Default OG Description"} />
  {preloadImage && <link rel="preload" as="image" href={preloadImage} />}
</head>

 

  <body class="bg-primary-500 md:pt-[80px]">
    <header>
      <Header />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>

<script type="module">
  import { animate } from "https://cdn.jsdelivr.net/npm/motion@10.16.4/+esm";

  // Hent alle elementer med fade-in-up
  const fadeInUpElements = document.querySelectorAll(".fade-in-up");

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const el = entry.target;
          animate(
            el,
            { opacity: [0, 1], x: [40, 0] },
            {
              duration: 0.8,
              easing: "ease-out",
            }
          );
          observer.unobserve(el); // Kør kun én gang
        }
      });
    },
    {
      threshold: 0.2, // Juster hvis nødvendigt
    }
  );

  fadeInUpElements.forEach((el) => {
    el.style.opacity = 0; // Skjul indledningsvist
    observer.observe(el);
  });
</script>
